<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>Nro</th>
				<th>Descripción</th>
				<th>Fecha</th>
				<th>Realizada</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="t : ${tareas}">
				<td th:text="${t.numero}"></td>
				<td th:text="${t.descripcion}"></td>
				<td th:text="${t.fecha}"></td>
				<td th:text="${t.realizada}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>